<main class="page-content favorites">
  <a class="go-back favorites" href="/blog?user={{ userEmail }}" class="go-back">&larr; go back</a>
  <h1 class="favorites-title">Your favorites</h1>

  {% if posts.size > 0 %}
    <section class="blog-posts favorites">
      {% for post in posts %}
        <article class="blog-post-card" data-category="{{ post.category }}">
          <a href="/{{ post.slug }}?user={{ userEmail }}">
            <img class="post-image" src="{{ post['image-1'] }}" alt="{{ post.title }}" width="48" height="48">
          </a>

          <section class="post-content">
            <div class="post-content-left">
              <h3 class="post-title">{{ post.title | upcase }}</h3>
              <p class="hashtag">#{{ post.category }}</p>
            </div>

            <div class="post-content-right">
              <button class="favorite-btn" data-id="{{ post.id }}">
                <svg width="24" height="24" class="heart-icon">
                  <use href="#{% if favoriteIds contains post.id %}icon-heart-full{% else %}icon-heart-empty{% endif %}"></use>
                </svg>
              </button>

              <a href="/{{ post.slug }}?user={{ userEmail }}" class="read-more">read more</a>
            </div>
          </section>
        </article>
      {% endfor %}
    </section>
  {% else %}
    <section class="favorites-empty">
      <p class="empty-text">You haven't saved any favorites yet.</p>
      <a href="/blog?user={{ userEmail }}" class="submit blog">Go to blog</a>
    </section>
  {% endif %}
</main>
